<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Joyride Coffee | www.joyridecoffeedistributers.com</title>
</head>
<body style="margin:0; padding:0px 0;" bgcolor="#ffff">
<div style="width:75%;margin:auto;border: 1px solid #ccc; padding: 20px;">
  <div style="width:75%; margin:auto;">
    <p style=" font-size:26px; text-align: left; font-weight:bold;">
      <img style="width:205px; float:right; padding-bottom:25px;" src="https://lh3.googleusercontent.com/-dZRtbxwGEKE/VIsx6Pv50RI/AAAAAAAAAH8/fuMB8hNIlO0/w426-h237/Logo-for-Google.png"/>
    </p>
  </div>

  <div style="clear:both; height:2px;background: #5FC8DB; width: 75%;margin:auto; margin-top:25px; margin-bottom:25px;"></div>

  <div style="width: 75%; margin:auto; margin-bottom:20px;">

    <p>Greetings <%= @user.first_name %>,</p>

    <p>
      You're account has now been setup and you are ready to order from the Joyride Online Menu. Feel free to login to
      your account <%= link_to "here", spree.login_url %>.
    </p>

    <p>
      Cheers,
    </p>

    <p style="clear:both;height:100px;">
      <strong>The Joyride Team</strong> <br/>
      www.joyridecoffee.com
    </p>

  </div>

  <div style="height:2px;background: #5FC8DB; width: 75%;margin:auto;"></div>

  <div style="width: 75%; margin:auto; margin-bottom:20px;">
    <p style="font-size:11px; text-align: center; font-style:italic;">
      Please note: Blah blah blah blah blah
    </p>
  </div>
</div>

</body>
</html>
