<legend align="center"><%= Spree.t(:schedule) %></legend>

<fieldset id='shipping_method' data-hook>
  <div id="schedule_calendar" class="inner schedule-calendar" data-hook="shipping_method_inner">
    <%= render partial: "calendar" %>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
</div>